# 1 _ Stack Func in pandas  use to Reshapeb DataFramr

In [2]:
import pandas as pd

path = "E:\\Data Rows\\Code B\\Un_Stack_data.txt"

DF = pd.read_csv( path)
DF

                                                                                                                                                              Price                   Price to earnings ratio (P/E)
       Company             Facebook  Google       Microsoft                                      Facebook                                                  Google
       2017-06-05         155           955          66                                                             37.10                                      32.0                                                   NaN
      2017-06-06          150          987           69                                               36.98                                                    31.3                                                   NaN
       2017-06-07         153           963        62                                                      36.78                                               31.7                                                   NaN
       2017-06-08        155          1000           61                                                      36.11                                             31.2                                                   NaN
       2017-06-09          156        1012             66                                                  37.07                                               30.0                                                   NaN
       Microsoft     NaN             NaN         NaN                              NaN                                                                              NaN                                                NaN
            30.31    NaN             NaN         NaN                              NaN                                                                              NaN                                                NaN
            30.56    NaN             NaN         NaN                              NaN                                                                              NaN                                                NaN
            30.46    NaN             NaN         NaN                              NaN                                                                              NaN                                                NaN
            30.11    NaN             NaN         NaN                              NaN                                                                              NaN                                                NaN
           31.00     NaN             NaN         NaN                              NaN                                                                              NaN                                                NaN

In [4]:
S_df1 = DF.stack()
S_df1

       Company              Facebook   Google        Microsoft                                       Facebook                                                     Price                                                 Google
                                                                                                                                                      Price to earnings ratio (P/E)
       2017-06-05          155            955           66                                                              37.10                                     Price                                                     32.0
      2017-06-06           150           987            69                                                36.98                                                   Price                                                     31.3
       2017-06-07          153            963         62                                                       36.78                                              Price                                                     31.7
       2017-06-08         155           1000            61                                                       36.11                                            Price                                                     31.2
       2017-06-09           156         1012              66                                                   37.07                                              Price                                                     30.0
dtype: object

In [6]:
S_df2 = DF.stack(level=0)
S_df2

       Company              Facebook   Google        Microsoft                                       Facebook                                                     Price                                                 Google
                                                                                                                                                      Price to earnings ratio (P/E)
       2017-06-05          155            955           66                                                              37.10                                     Price                                                     32.0
      2017-06-06           150           987            69                                                36.98                                                   Price                                                     31.3
       2017-06-07          153            963         62                                                       36.78                                              Price                                                     31.7
       2017-06-08         155           1000            61                                                       36.11                                            Price                                                     31.2
       2017-06-09           156         1012              66                                                   37.07                                              Price                                                     30.0
dtype: object

In [12]:
S_df2 = DF.stack(level=0 , dropna= True)   # Remove any Row include NaN Value
S_df2

       Company              Facebook   Google        Microsoft                                       Facebook                                                     Price                                                 Google
                                                                                                                                                      Price to earnings ratio (P/E)
       2017-06-05          155            955           66                                                              37.10                                     Price                                                     32.0
      2017-06-06           150           987            69                                                36.98                                                   Price                                                     31.3
       2017-06-07          153            963         62                                                       36.78                                              Price                                                     31.7
       2017-06-08         155           1000            61                                                       36.11                                            Price                                                     31.2
       2017-06-09           156         1012              66                                                   37.07                                              Price                                                     30.0
dtype: object

# 2_ Unstack Func

In [13]:
U_S_DF = DF.unstack()

U_S_DF

                                                                                                             Price     ...                Price to earnings ratio (P/E)
                                                                                                                  NaN  ...                                 Facebook
            30.11    NaN             NaN         NaN                                                              NaN  ...                                                NaN
            30.31    NaN             NaN         NaN                                                              NaN  ...                                                NaN
            30.46    NaN             NaN         NaN                                                              NaN  ...                                                NaN
            30.56    NaN             NaN         NaN                                                              NaN  ...                                                NaN
           31.00     NaN             NaN         NaN                                                              NaN  ...                                                NaN
       2017-06-05         155           955          66                                                           NaN  ...                                                NaN
       2017-06-07         153           963        62                                                             NaN  ...                                                NaN
       2017-06-08        155          1000           61                                                           NaN  ...                                                NaN
       2017-06-09          156        1012             66                                                         NaN  ...                                                NaN
       Company             Facebook  Google       Microsoft                                                       NaN  ...
       Microsoft     NaN             NaN         NaN                                                              NaN  ...                                                NaN
      2017-06-06          150          987           69                                                           NaN  ...                                                NaN

[12 rows x 14 columns]